OPENAI_API_TYPE=azure
OPENAI_API_VERSION=2023-08-01-preview
OPENAI_API_BASE_URL=https://e11ab083-3b99-42f6-9fcc-8872cfd1c083-canadaeast.openai.azure.com/
OPENAI_API_KEY=<replace_me>
OPENAI_DEPLOYMENT_ID=gpt-4_canadaeast
AZURE_SEARCH_ENDPOINT=https://76search.search.windows.net
AZURE_SEARCH_KEY=<replace_me>
AZURE_SEARCH_INDEX_NAME=my-index
