OPENAI_API_TYPE=azure
OPENAI_API_VERSION=2023-08-01-preview
OPENAI_API_BASE=https://e11ab083-3b99-42f6-9fcc-8872cfd1c083-canadaeast.openai.azure.com/
OPENAI_API_KEY=<replace_me>
AISEARCH_SEARCH_ENDPOINT=https://76search.search.windows.net
AISEARCH_SEARCH_KEY=<replace_me>
AISEARCH_SEARCH_INDEX_NAME=my-index
